@page
@model BeSpokedBikes.Pages.Sellers.IndexModel

@{
    ViewData["Title"] = "Salespeople";
}

<h1>Salespeople</h1>

<p>
    <a asp-page="Create">Register New Salesperson</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salespersons[0].SellerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salespersons[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salespersons[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salespersons[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salespersons[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salespersons[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salespersons[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salespersons[0].Manager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Salespersons) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SellerID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SellerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SellerID">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
